.MainBmi
  .Content
    BMI 計算
    .ul
      .li
      健康体重
      %br
      BMI値：22 健康的で病気になりにくい
      .li
      美容体重
      %br
      BMI値：20 
      .li
      モデル体重 健康も維持しつつスリムな体型
      %br
      BMI値：18 モデル、女優等、芸能人並みの細さ
      .li
      肥満体重
      %br
      BMI値：25以上