.MainBmi
  %br/
  %br/
  .Result
  %span あなたのBMIは
  %span#bmi
  %span 
  %p
    %span 
    %span#yase
      %span#himan
        %span#hyojyun
        %br
  .IdealWeight
    .Health
      .Health__content
      %span あなたの身長で健康体重(BMI22)は
      .Health__kg
      %span#health
      kg
      .Health__message
      健康的で病気になりにくい体型です。
    %br
    .Beauty
      .Beauty__content
      %span あなたの身長で美容体重(BMI20)は
      .Beauty__kg
      %span#beauty
      kg
      .Beauty__message
      健康も維持しつつスリムな体型です。
    %br
    .Model
      .Model__content
      %span あなたの身長でプリンセス体重(BMI18)は
      .Model__kg
      %span#model
      kg
      .Model__message
      モデル、女優など芸能人並みの体型です。