!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}

.SideBer
  .BmiForm
    .Content
      BMI測定
    .InputForm
      %form.form
    .InputBox
      %input.InputBox__height{type: "number",id: "cm"}
      cm
      %br
      %input.InputBox__weight{type: "number", id: "kg"}
      kg
      %br
      %input.InputBox__target-submit-btn{type: "submit", id: "btn_id"}
      %br
      %input.InputBox__bmi{type: "number", id: "bmi"}
      bmi



    
      
  .ChangeSevice
    .MeasureBmi
      .Icon
      = link_to bmi_index_path do
        = icon('fas', 'weight', class: "Icon__btn-icon" )
      .Content
        BMIを測る
    
    .EatingRecoad
      .Icon
        = link_to "#" do
          = icon('fas', 'pen-alt', class: "Icon__btn-icon" )
        .Content
          食事を記録する
          