!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
.SideBer
  .BmiForm
    %html
    %head
      %meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")/
      %meta(charset="UTF-8")/
    %body
    .BmiForm
      .FormBox
        .FormBox__content
        .FormBox__form
          身長
          %input#i0(value="" style= "width:100px;")/
          cm
        .FormBox__content
        .FormBox__form
          体重
          %input#i1(value="" style= "width:100px;")/
          kg
        .FormBox__gender
        %label
        %form#gender
          %input(name="sex" type="radio" value="man")/
          男
          %label
          %input(name="sex" type="radio" value="woman" checked="checked")/
          女
      .Input
        %button(onclick="calcBMI()" class="Input__btn") 測定