.SideBer
  .BmiForm
    .Content
      BMI測定
    .InputForm
      %form.form
    .InputBox
      %input.InputBox__target-number{type: "number",id: "height"}
      cm
      %br
      %input.InputBox__target-number{type: "number", id: "weight"}
      kg
      %br
      %input.InputBox__target-submit-btn{type: "submit"}
      
  .ChangeSevice
    .MeasureBmi
      .Icon
      = link_to bmi_index_path do
        = icon('fas', 'weight', class: "Icon__btn-icon" )
      .Content
        BMIを測る
    
    .EatingRecoad
      .Icon
        = link_to "#" do
          = icon('fas', 'pen-alt', class: "Icon__btn-icon" )
        .Content
          食事を記録する
          