.MainGraph
  .TopItems
    .TopItems__title
      = current_user.name
      さんの体重グラフ
    
  .Weight
    = line_chart @weights.group("date(created_at)").sum(:kg), xtitle: "日付", ytitle: "kg", curve: false, width: "70vw", height: "80vh", precision: 4, min: 40
 
 
  