.MainGraph
  .TopItems
    .TopItems__title
      = current_user.name
      の体重グラフ
    
  .Weight
    = line_chart @weights.group("date(created_at)").sum(:kg), xtitle: "日付", ytitle: "kg", curve: false, width: "750px", height: "80vh", decimal: "0,1"
