* {
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  display: flex;
}

.MainBmi { 
  color: $font-color;
  background-color:#99CC00;
  width: 75%;
  height: calc(100vh - 100px);
  span{
    font-size: 20px;
  }
  .IdealWeight {
    .Health {
      height: 15vh;
      width: calc(100vw - 35vw);
      background-color: darkblue;
      margin: auto;
      padding: 10px;
    }
  }
    .Beauty {
      height: 15vh;
      width: calc(100vw - 35vw);
      background-color: darkblue;
      margin: auto;
      padding: 10px;
    }
    .Model{
      height: 15vh;
      width: calc(100vw - 35vw);
      background-color: darkblue;
      margin: auto;
      padding: 10px;
    }
}
.SideBer {
  color: $font-color;
  background-color:#FFA500;
  width: 25%;
  height: calc(100vh - 100px);
  
}