* {
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  display: flex;
}

.MainBmi { 
  color: $font-color;
  background-color:#99CC00;
  width: 75%;
  height: calc(100vh - 100px);
}
.SideBer {
  color: $font-color;
  background-color:#FFA500;
  width: 25%;
  height: calc(100vh - 100px);
  
}