.Notification {
  .notice {
    background-color: rgb(20, 111, 230);
    color: #fff;
    text-align: center;
  }

  .alert {
    background-color: #FF367F;
    color: #fff;
    text-align: center;
  }
}
