* {
  box-sizing: border-box;
}


html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
  margin: 0;
  padding: 0;
}
.Wrapper {
}
$font-color: white;

.Header {
  color: $font-color;
  background-color:#c0c0c0;
  width: 100%;
  height: 100px;

  .Item {
    padding: 17px 25px 0px 20px;
    display: flex;
    justify-content: space-between;
    .Title{
      font-size: 45px;
      font-family: Tahoma;
    }
    .ChangeSevice {
      display: flex;
      justify-content: flex-end;
      .WeightIcon {
        margin: 0 8px;
        height: 80px;
        width: 80px;
        padding-bottom:1px;
        text-align: center;
        &__btn-icon {
          color:#c5dcfd;
          border-style: none;
          font-size: 3.8em;
        }
        &__content a{
          color: rgb(0, 0, 0);
          font-size: 16px;
          border-style: none;
          text-decoration: none;
         }
        }
      .Icon {
        margin: 16px 8px 1px 8px;
        height: 80px;
        width: 80px;
        text-align: center;
        &__btn-icon {
          color: $font-color;
          border-style: none;
          font-size: 2.5em;
          transition: .4s;
        }
        &__content a{
          color: $font-color;
          font-size: 14px;
          border-style: none;
          text-decoration: none;
          }
      }
    }
  }
}

.WeightContainer {
  display: flex;
  background-image : url("images/weight3.jpg");
  background-size:cover;
  .MainGraph {
    color: $font-color;
    
    width: 75%;
    height: calc(100% - 100px);
    .TopItems {
      display: flex;
      justify-content: center; 
      align-items: center;
      margin: 15px 0 10px 0;
      &__title{
        position: relative;
        padding: 0.4em 1em;
        background: #9fc6fb;
        font-size: 23px;
      }
      &__title:after {
        position: absolute;
        content: '';
        top: 100%;
        left: 30px;
        border: 13px solid transparent;
        border-top: 13px solid #9fc6fb;
        width: 0;
        height: 0;
      }
      
    }
  }

  .SideBar {
    color: $font-color;
    
    width: 25%;
    height: calc(100vh - 100px);

    .WeightForm {
      margin-top: 20px;
      display: block;
      text-align: center;
      .Today{
        padding-top: 35px;
        .Content{
          font-size: 25px;
        }
        .NewWeight {
          display: block;
          .InputBox {
            display: block ;
            text-align: center;
            &__number {
              height: 30px;
              width: 80px;
              border-style: none ;
              margin: 10px 0 15px;
            }
            &__btn{
              display: inline-block;
              padding: 0.3em 1em;
              text-decoration: none;
              color: #67c5ff;
              border: solid 2px #67c5ff;
              border-radius: 3px;
              transition: .4s;
            }

            &__btn:hover {
              background: #67c5ff;
              color: white;
            }
            
          }
        } 
      }
    }
    
  }
}